<h1>Edit Patient Form</h1>

<% if @patient.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@patient.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @patient.errors.full_messages.each do |msg| %>
      <li><p style="color:red"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form', locals: {patient: @patient} %>