<%=link_to "New Appointment", new_appointment_path%>

<h1>Appointments</h1>

<%@appointments.order(date: :desc).group_by(&:date).each do |date, appointment|%>
  <h2>Date: <%=date%></h2>
  <h3>Scheduled Appointments:</h3> <%appointment.each do |appointment|%>
                <li><%=link_to appointment.patient.name, appointment_path(appointment)%></li>
  <%end%>
  <%end%>

